
ZAPSIGN_API_TOKEN=seu_token_aqui


# Produção: https://api.zapsign.com.br/api/v1
# Sandbox:  https://sandbox.api.zapsign.com.br/api/v1
ZAPSIGN_BASE_URL=https://sandbox.api.zapsign.com.br/api/v1

# Token do modelo DOCX (opcional — se não definido, usa PDF_URL)
ZAPSIGN_TEMPLATE_ID=

# URL pública do PDF (fallback se TEMPLATE_ID não definido)
ZAPSIGN_PDF_URL=


# Zendesk

ZENDESK_SUBDOMAIN=heroassist
ZENDESK_EMAIL=emily.dias@heroseguros.com.br
ZENDESK_API_TOKEN=fTsyOCQjg8TfxXD3LxbcltLJg7CEvOd0G0y1UcTW

# ============================================
# Servidor
# ============================================
PORT=3000

# Chave para validar webhooks recebidos do Zendesk
WEBHOOK_SECRET=
